.App-header {
  background-color: #4267B2;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-header .sign-button {
  border: none;
  color: white;
  padding: 8px;
  margin: 0 8px;
  background-color: #4267B2;
  transition: all 0.2s ease;
}
.App-header .sign-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

